@keyframes fallingCookie {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(calc(100vh + 100px)) rotate(360deg);
    opacity: 0;
  }
}
.cookie {
  position: fixed;
  top: -100px;
  animation: fallingCookie linear infinite;
  z-index: 0;
  pointer-events: none;
  user-select: none;
}
body {
  font-family: "Comic Neue", cursive;
  overflow-x: hidden;
}
@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.animate-beat {
  animation: beat 1s infinite;
}
